.images-list {
    display: grid;
    grid-template-columns: 160px 190px repeat(2, 160px);
    grid-template-rows: 220px 200px 160px;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.images-list__item--top-row {
    grid-column: span 2;
}

.images-list__item--vertical {
    grid-row: span 2;
}

.just-image {
    height: 100%;
}

.images-list__item--flat {
    grid-column: span 2;
}