.progress-construction {
    display: flex;
    flex-direction: column;
    padding: 40px 100px;
}

.progress-construction__back {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress-construction__title {
    text-transform: uppercase;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.02em;
    font-weight: 400;
}

.progress-construction__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.progress-construction__content {
    height: 100%;
}

.progress-construction__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style:disc;
    padding: 0;
    margin: 0;
    width: 340px;
}

.progress-construction__month {
    display: flex;
    gap: 40px;
    margin: auto 0 0;
}

.progress-construction__link-previous {
    display: flex;
    text-align: right;
    color: #B68E6C;
    
}

.progress-construction__link-next {
    display: flex;
    text-align: left;
    color: #B68E6C;

}