.progress-construction {
    display: flex;
    flex-direction: column;
    padding: 40px 100px;
}

.progress-construction__back {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress-construction__title {
    font-family: "Fira Sans Extra Condensed";
    margin: 0 0 20px 0;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.02em;
    font-weight: 400;
}

.progress-construction__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}


.progress-construction__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style:disc;
    padding: 0;
    margin: 0;
    width: 340px;
}

.progress-construction__month {
    display: flex;
    gap: 40px;
    margin: auto 0 0;
}

.progress-construction__link {
    display: flex;
    color: #B68E6C;
    column-gap: 10px;
    align-items: center;
}

.progress-construction__link-back {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin: 0 0 20px 0;
    color: #ffffff;
}

.progress-construction__link-back {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.progress-construction__link svg {
    min-width: 40px;
}

.progress-construction__link-previous {
    text-align: right;
}

.progress-construction__link-next {
    text-align: left;
}

.progres-construction__link-text {
    max-width: 100px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}